@import './rootCss.css';

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a{
    text-decoration:none;
    outline:none;
}
li{
    list-style:none;
}

.sidebarMenu > label {
  top: 30px;
  left: 30px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.sidebarMenu  span,
.sidebarMenu label span::before,
.sidebarMenu label span::after {
  transition: background 0.3s, transform 0.3s;
}
.sidebarMenu label span,
.sidebarMenu label span::before,
.sidebarMenu label span::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 40px;
  background: #b3b3b3;
}
.sidebarMenu label span::before {
  transform: translateY(-12px);
}
.sidebarMenu label span::after {
  transform: translateY(12px);
}
.sidebarMenu nav {
  position: fixed;
  height: 100%;
  width: 300px;
  left: -350px;
  overflow: hidden;
  background: var(--darkSienna);
  transition: 0.3s ease;
  padding: 40px 30px;
}
.sidebarMenu nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebarMenu nav div a {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  background: linear-gradient(-90deg, #C79530 30%, #02929F  110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebarMenu nav div a i {
  font-size: 4rem;
  background: linear-gradient(120deg, #49a4ed 30%, #3d00a9 110%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebarMenu nav div > label {
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.sidebarMenu nav div label span,
.sidebarMenu nav div label span:before,
.sidebarMenu nav div label span:after {
  background: #4d4d4d;
}


.sidebarMenu nav ul li a {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--khakiWeb);
  display: block;
}
.sidebarMenu nav ul li a:hover{
    transform: translateX(10%);
    left:20px;
    text-shadow: none;
    color:var(--seaGreen);
}
.sidebarMenu nav ul li:hover {
  animation: hover 0.5s;

}
.sidebarMenu input[type=checkbox] {
  display: none;
}
.sidebarMenu input[type=checkbox]:checked ~ label {
  opacity: 0;
  pointer-events: none;
}
.sidebarMenu input[type=checkbox]:checked ~ nav {
  left: 0;
}
.sidebarMenu input[type=checkbox]:checked ~ nav label span {
  background: transparent;
}
.sidebarMenu input[type=checkbox]:checked ~ nav label span:before {
  transform: rotate(-45deg);
}
.sidebarMenu input[type=checkbox]:checked ~ nav label span:after {
  transform: rotate(45deg);
}
.sidebarMenu input[type=checkbox]:checked ~ nav label span:before,
.sidebarMenu input[type=checkbox]:checked ~ nav label span:after {
  transition-delay: 0.2s;
}
.sidebarMenu input[type=checkbox]:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0px);
}

li:after {
  bottom: 25%;
}

li:before {
  top: 25%;
}

li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 25%;
  background-color:#FBE4D0;
}
li:hover::before {
  width: 100%;
  height: 1px;
  top: 25%;
  background-color: #FBE4D0;
}

form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type=search] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:-moz-placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:-ms-input-placeholder) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:-moz-placeholder-shown) + button {
  display: block;
}

input:not(:-ms-input-placeholder) + button {
  display: block;
}

input:not(:placeholder-shown) + button {
  display: block;
}

#leLabel {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}