<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'patchistiks/rootCss.css' %}">
    <title>Home</title>
</head>

<body>
    <header>
        <h1 class="grandTitre"><a href="{% url 'patchistiks:home' %}">Patchistiks</a></h1>
        {% if request.user.is_authenticated %}
                <a href="{% url 'patchistiks:my_logout' %}">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout
                    </button>
                </a>
        {% else %}
            <div class="searchAndLogin">
                <!-- <button class="openButton" id="logButton">Log in</button> -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Login
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="login" method="post" action="{% url 'patchistiks:home' %}">
                                {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" name="username" class="form-control" id="username"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                    <div>
                                        <a class="btn btn-outline-info" href="">Forgot password</a>
                                        <a class="btn btn-outline-info" href="">Other issues</a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" value="connexion" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                    Register
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title" id="exampleModalLabel2">Register</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="register" method="post" action="{% url 'patchistiks:home' %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" name="username" class="form-control" id="username"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="password">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            aria-describedby="emailHelp">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" value="connexion" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </header>
    <div class="sidebarMenu">
        <input type="checkbox" id="toogle-menu" />
        <label for="toogle-menu"><span></span></label>
        <nav>
            <div>
                <span></span>
                <label for="toogle-menu" class="toogle-close">
                    <span></span>
                </label>
            </div>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Patch </a></li>
                <li><a href="#">Champions </a></li>
                <li><a href="#">Items </a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'patchistiks:profile' %}">Profile </a></li>
                <li><a href="#">Logout </a></li>
                {% else %}
                <li><a href="{% url 'patchistiks:login' %}">Login </a></li>
                <li><a href="#">Register </a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- <dialog class="loginButton">  ICI PRESENT LE POPUP
        <button class="closeButton">Close</button>
        <form id="login" method="post" action="{% url 'patchistiks:home' %}">
        {% csrf_token %}
            <h2>Log in</h2>
            <div class="inputLog">
                <label for="username">Username</label>
                <input id="username" name="username">
                <label for="password">Password</label>
                <input id="password" name="password">
            </div>
            <div>
                <a href="">Forgot password</a>
                <a href="">Other issues</a>
            </div>
        </form>
    </dialog> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
<script src="{% static 'patchistiks/loginPopUp.js' %}"></script>

</html>